# 5. 수집된 데이터 탐색
## 5-1. 스파크 세션 생성
### 5-1-1. 스파크 객체를 생성하는 코드를 작성하고, Shift+Enter 로 스파크 버전을 확인합니다

In [2]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
# 코어 스파크 라이브러리를 임포트 합니다
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = (
    SparkSession
    .builder
    .appName("Data Engineer Training Course")
    .config("spark.sql.session.timeZone", "Asia/Seoul")
    .getOrCreate()
)

# 노트북에서 테이블 형태로 데이터 프레임 출력을 위한 설정을 합니다
from IPython.display import display, display_pretty, clear_output, JSON
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # display enabled
spark.conf.set("spark.sql.repl.eagerEval.truncate", 100) # display output columns size
spark

### 5-1-2. 수집된 테이블을 데이터프레임으로 읽고, 스키마 및 데이터 출력하기

In [3]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
user25 = spark.read.parquet("user/20201025")
user25.printSchema()
user25.show(truncate=False)
display(user25)

purchase25 = spark.read.parquet("purchase/20201025")
purchase25.createOrReplaceTempView("purchase25")
purchase25.printSchema()
display(purchase25)

accesslog = spark.read.option("inferSchema", "true").json("access/20201025")
accesslog.createOrReplaceTempView("accesslog")
access25 = spark.sql("select a_id, a_tag, a_time, a_timestamp, a_uid from accesslog")
access25.createOrReplaceTempView("access25")
access25.printSchema()
display(access25)

root
 |-- u_id: integer (nullable = true)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)
 |-- u_signup: integer (nullable = true)

+----+----------+--------+--------+
|u_id|u_name    |u_gender|u_signup|
+----+----------+--------+--------+
|1   |정휘센    |남      |20201025|
|2   |김싸이언  |남      |20201025|
|3   |박트롬    |여      |20201025|
|4   |청소기    |남      |20201025|
|5   |유코드제로|여      |20201025|
+----+----------+--------+--------+

+----+----------+--------+--------+
|u_id|    u_name|u_gender|u_signup|
+----+----------+--------+--------+
|   1|    정휘센|      남|20201025|
|   2|  김싸이언|      남|20201025|
|   3|    박트롬|      여|20201025|
|   4|    청소기|      남|20201025|
|   5|유코드제로|      여|20201025|
+----+----------+--------+--------+

root
 |-- p_time: string (nullable = true)
 |-- p_uid: integer (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- p_name: string (nullable = true)
 |-- p_amount: integer (nullable = true)

+----------+-----+----+-------+--------+
|    p_time|p_uid|p_id| p_name|p_amount|
+----------+-----+----+-------+--------+
|1603571550|    1|2000|LG DIOS| 2000000|
|1603614755|    1|2000|LG Gram| 1800000|
|1603593500|    2|2001|LG Cyon| 1400000|
|1603572155|    3|2002|  LG TV| 1000000|
|1603585955|    5|2004|LG Gram| 3500000|
|1603586155|    5|2004|  LG TV| 2500000|
+----------+-----+----+-------+--------+

root
 |-- a_id: string (nullable = true)
 |-- a_tag: string (nullable = true)
 |-- a_time: long (nullable = true)
 |-- a_timestamp: string (nullable = true)
 |-- a_uid: long (nullable = true)

+------+------+----------+-----------------------+-----+
|  a_id| a_tag|    a_time|            a_timestamp|a_uid|
+------+------+----------+-----------------------+-----+
|logout|access|1603567200|2020-10-25 04:20:00.000|    1|
|logout|access|1603570200|2020-10-25 05:10:00.000|    2|
|logout|access|1603579200|2020-10-25 07:40:00.000|    3|
|logout|access|1603584200|2020-10-25 09:03:20.000|    4|
|logout|access|1603589500|2020-10-25 10:31:40.000|    5|
| login|access|1603565200|2020-10-25 03:46:40.000|    1|
| login|access|1603569200|2020-10-25 04:53:20.000|    2|
| login|access|1603573200|2020-10-25 06:00:00.000|    2|
| login|access|1603577200|2020-10-25 07:06:40.000|    3|
| login|access|1603580200|2020-10-25 07:56:40.000|    4|
| login|access|1603584500|2020-10-25 09:08:20.000|    4|
| login|access|1603586500|2020-10-25 09:41:40.000|    5|
+------+------+----------+-----------------------+-----+

## 5-2. 수집된 고객, 매출 및 접속 임시 테이블 생성
### 5-2-1. 데이터프레임을 이용하여 임시테이블 생성하기

In [4]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
user25.createOrReplaceTempView("user25")
purchase25.createOrReplaceTempView("purchase25")
access25.createOrReplaceTempView("access25")
spark.sql("show tables '*25'")

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |  access25|       true|
|        |purchase25|       true|
|        |    user25|       true|
+--------+----------+-----------+

## 5-3. SparkSQL을 이용하여 테이블 별 데이터프레임 생성하기
### 5-3-1. 아래에 비어있는 조건을 채워서 올바른 코드를 작성하세요

In [5]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
u_signup_condition = "u_signup >= '20201025' and u_signup < '20201026'"
user = spark.sql("select u_id, u_name, u_gender from user25").where(u_signup_condition)
user.createOrReplaceTempView("user")
display(user)

p_time_condition = "p_time >= '2020-10-25 00:00:00' and p_time < '2020-10-26 00:00:00'"
purchase = spark.sql("select from_unixtime(p_time) as p_time, p_uid, p_id, p_name, p_amount from purchase25").where(p_time_condition)
purchase.createOrReplaceTempView("purchase")
display(purchase)

access = spark.sql("select a_id, a_tag, a_timestamp, a_uid from access25")
access.createOrReplaceTempView("access")
display(access)

spark.sql("show tables")

+----+----------+--------+
|u_id|    u_name|u_gender|
+----+----------+--------+
|   1|    정휘센|      남|
|   2|  김싸이언|      남|
|   3|    박트롬|      여|
|   4|    청소기|      남|
|   5|유코드제로|      여|
+----+----------+--------+

+-------------------+-----+----+-------+--------+
|             p_time|p_uid|p_id| p_name|p_amount|
+-------------------+-----+----+-------+--------+
|2020-10-25 05:32:30|    1|2000|LG DIOS| 2000000|
|2020-10-25 17:32:35|    1|2000|LG Gram| 1800000|
|2020-10-25 11:38:20|    2|2001|LG Cyon| 1400000|
|2020-10-25 05:42:35|    3|2002|  LG TV| 1000000|
|2020-10-25 09:32:35|    5|2004|LG Gram| 3500000|
|2020-10-25 09:35:55|    5|2004|  LG TV| 2500000|
+-------------------+-----+----+-------+--------+

+------+------+-----------------------+-----+
|  a_id| a_tag|            a_timestamp|a_uid|
+------+------+-----------------------+-----+
|logout|access|2020-10-25 04:20:00.000|    1|
|logout|access|2020-10-25 05:10:00.000|    2|
|logout|access|2020-10-25 07:40:00.000|    3|
|logout|access|2020-10-25 09:03:20.000|    4|
|logout|access|2020-10-25 10:31:40.000|    5|
| login|access|2020-10-25 03:46:40.000|    1|
| login|access|2020-10-25 04:53:20.000|    2|
| login|access|2020-10-25 06:00:00.000|    2|
| login|access|2020-10-25 07:06:40.000|    3|
| login|access|2020-10-25 07:56:40.000|    4|
| login|access|2020-10-25 09:08:20.000|    4|
| login|access|2020-10-25 09:41:40.000|    5|
+------+------+-----------------------+-----+

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |    access|       true|
|        |  access25|       true|
|        | accesslog|       true|
|        |  purchase|       true|
|        |purchase25|       true|
|        |      user|       true|
|        |    user25|       true|
+--------+----------+-----------+

## 5-4. 생성된 테이블을 SQL 문을 이용하여 탐색하기
### 5-4-1. 한 쪽의 성별('남' 혹은 '여')을 가진 목록을 출력하세요

In [6]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
spark.sql("describe user")
spark.sql("select * from user")
whereCondition = "u_gender = '남'"
spark.sql("select * from user").where(whereCondition)

+----+--------+--------+
|u_id|  u_name|u_gender|
+----+--------+--------+
|   1|  정휘센|      남|
|   2|김싸이언|      남|
|   4|  청소기|      남|
+----+--------+--------+

### 5-4-2. 상품금액이 200만원을 초과하는 매출 목록을 출력하세요

In [7]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
spark.sql("describe purchase")
spark.sql("select * from purchase")
selectClause = "select * from purchase where p_amount > 2000000"
spark.sql(selectClause)

+-------------------+-----+----+-------+--------+
|             p_time|p_uid|p_id| p_name|p_amount|
+-------------------+-----+----+-------+--------+
|2020-10-25 09:32:35|    5|2004|LG Gram| 3500000|
|2020-10-25 09:35:55|    5|2004|  LG TV| 2500000|
+-------------------+-----+----+-------+--------+

### 5-4-3. GroupBy 구문을 이용하여 로그인, 로그아웃 횟수를 출력하세요

In [8]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
spark.sql("describe access")
spark.sql("select * from access")
groupByClause="select a_id, count(a_id) from access group by a_id"
spark.sql(groupByClause)

+------+-----------+
|  a_id|count(a_id)|
+------+-----------+
|logout|          5|
| login|          7|
+------+-----------+

# 6. 기본 지표 생성
## 6-1. DAU (Daily Activer User) 지표를 생성하세요

In [9]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
display(access)
distinctAccessUser = "select count(distinct a_uid) as DAU from access"
dau = spark.sql(distinctAccessUser)
display(dau)
v_dau = dau.collect()[0]["DAU"]

DataFrame[a_id: string, a_tag: string, a_timestamp: string, a_uid: bigint]

+---+
|DAU|
+---+
|  5|
+---+

## 6-2. DPU (Daily Paying User) 지표를 생성하세요

In [10]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)

display(purchase)
distinctPayingUser = "select count(distinct p_uid) as PU from purchase"
pu = spark.sql(distinctPayingUser)
display(pu)
v_pu = pu.collect()[0]["PU"]

DataFrame[p_time: string, p_uid: int, p_id: int, p_name: string, p_amount: int]

+---+
| PU|
+---+
|  4|
+---+

## 6-3. DR (Daily Revenue) 지표를 생성하세요

In [11]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
display(purchase)
sumOfDailyRevenue = "select sum(p_amount) as DR from purchase"
dr = spark.sql(sumOfDailyRevenue)
display(dr)
v_dr = dr.collect()[0]["DR"]

DataFrame[p_time: string, p_uid: int, p_id: int, p_name: string, p_amount: int]

+--------+
|      DR|
+--------+
|12200000|
+--------+

## 6-4. ARPU (Average Revenue Per User) 지표를 생성하세요

In [12]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
# print("ARPU : {}".format(<유저당 매출 금액 계산식>))
print("+------------------+")
print("|             ARPU |")
print("+------------------+")
print("|        {} |".format(v_dr / v_dau))
print("+------------------+")

+------------------+
|             ARPU |
+------------------+
|        2440000.0 |
+------------------+

## 6-5. ARPPU (Average Revenue Per Paying User) 지표를 생성하세요

In [13]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
print("+------------------+")
print("|            ARPPU |")
print("+------------------+")
print("|        {} |".format(v_dr / v_pu))
print("+------------------+")

+------------------+
|            ARPPU |
+------------------+
|        3050000.0 |
+------------------+

# 7. 고급 지표 생성
## 7-1. 디멘젼 테이블을 설계 합니다
## 7-2. 오픈 첫 날 접속한 모든 고객 및 접속 횟수를 가진 데이터프레임을 생성합니다

In [14]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
access.printSchema()
countOfAccess = "select a_uid, count(a_uid) as a_count from access where a_id = 'login' group by a_uid"
accs = spark.sql(countOfAccess)
display(accs)

root
 |-- a_id: string (nullable = true)
 |-- a_tag: string (nullable = true)
 |-- a_timestamp: string (nullable = true)
 |-- a_uid: long (nullable = true)

+-----+-------+
|a_uid|a_count|
+-----+-------+
|    5|      1|
|    1|      1|
|    3|      1|
|    2|      2|
|    4|      2|
+-----+-------+

## 7-3. 일 별 이용자 별 총 매출 금액과, 구매 횟수를 가지는 데이터프레임을 생성합니다

In [15]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
purchase.printSchema()
sumOfCountAndAmount = "select p_uid, sum(p_amount) as p_amount, count(p_uid) as p_count from purchase group by p_uid"
amts = spark.sql(sumOfCountAndAmount)
display(amts)

root
 |-- p_time: string (nullable = true)
 |-- p_uid: integer (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- p_name: string (nullable = true)
 |-- p_amount: integer (nullable = true)

+-----+--------+-------+
|p_uid|p_amount|p_count|
+-----+--------+-------+
|    1| 3800000|      2|
|    3| 1000000|      1|
|    5| 6000000|      2|
|    2| 1400000|      1|
+-----+--------+-------+

## 7-4. 이용자 정보와 구매 정보와 조인합니다

In [16]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
accs.printSchema()
amts.printSchema()
joinCondition = accs["a_uid"] == amts["p_uid"]
joinHow = "left_outer"
dim1 = accs.join(amts, joinCondition, joinHow)
dim1.printSchema()
display(dim1.orderBy(asc("a_uid")))

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)

root
 |-- p_uid: integer (nullable = true)
 |-- p_amount: long (nullable = true)
 |-- p_count: long (nullable = false)

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)
 |-- p_uid: integer (nullable = true)
 |-- p_amount: long (nullable = true)
 |-- p_count: long (nullable = true)

+-----+-------+-----+--------+-------+
|a_uid|a_count|p_uid|p_amount|p_count|
+-----+-------+-----+--------+-------+
|    1|      1|    1| 3800000|      2|
|    2|      2|    2| 1400000|      1|
|    3|      1|    3| 1000000|      1|
|    4|      2| null|    null|   null|
|    5|      1|    5| 6000000|      2|
+-----+-------+-----+--------+-------+

## 7-5. 고객 정보를 추가합니다

In [17]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
dim1.printSchema()
user.printSchema()
joinCondition = dim1["a_uid"] == user["u_id"]
joinHow = "left_outer"
dim2 = dim1.join(user, joinCondition, joinHow)
dim2.printSchema()
display(dim2.orderBy(asc("a_uid")))

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)
 |-- p_uid: integer (nullable = true)
 |-- p_amount: long (nullable = true)
 |-- p_count: long (nullable = true)

root
 |-- u_id: integer (nullable = true)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)
 |-- p_uid: integer (nullable = true)
 |-- p_amount: long (nullable = true)
 |-- p_count: long (nullable = true)
 |-- u_id: integer (nullable = true)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)

+-----+-------+-----+--------+-------+----+----------+--------+
|a_uid|a_count|p_uid|p_amount|p_count|u_id|    u_name|u_gender|
+-----+-------+-----+--------+-------+----+----------+--------+
|    1|      1|    1| 3800000|      2|   1|    정휘센|      남|
|    2|      2|    2| 1400000|      1|   2|  김싸이언|      남|
|    3|      1|    3| 1000000|      1|   3|    박트롬|      여|
|    4|      2| null|    null|   null|   4|    청소기|      남|
|    5|      1|    5| 6000000|      2|   5|유코드제로|      여|
+-----+-------+-----+--------+-------+----+----------+--------+

## 7-6. 중복되는 ID 컬럼은 제거하고, 숫자 필드에 널값은 0으로 기본값을 넣어줍니다

In [18]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
dim2.printSchema()
dim3 = dim2.drop("p_uid", "u_id")
fillDefaultValue = {"p_amount":0, "p_count":0}
dim4 = dim3.na.fill(fillDefaultValue)
dim4.printSchema()
display(dim4.orderBy(asc("a_uid")))

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)
 |-- p_uid: integer (nullable = true)
 |-- p_amount: long (nullable = true)
 |-- p_count: long (nullable = true)
 |-- u_id: integer (nullable = true)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)
 |-- p_amount: long (nullable = false)
 |-- p_count: long (nullable = false)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)

+-----+-------+--------+-------+----------+--------+
|a_uid|a_count|p_amount|p_count|    u_name|u_gender|
+-----+-------+--------+-------+----------+--------+
|    1|      1| 3800000|      2|    정휘센|      남|
|    2|      2| 1400000|      1|  김싸이언|      남|
|    3|      1| 1000000|      1|    박트롬|      여|
|    4|      2|       0|      0|    청소기|      남|
|    5|      1| 6000000|      2|유코드제로|      여|
+-----+-------+--------+-------+----------+--------+

## 7-7. 생성된 유저 테이블을 재사용 가능하도록 컬럼 명을 변경합니다

In [19]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
dim4.printSchema()
dim5 = (
    dim4
    .withColumnRenamed("a_uid", "d_uid")
    .withColumnRenamed("a_count", "d_acount")
    .withColumnRenamed("p_amount", "d_pamount")
    .withColumnRenamed("p_count", "d_pcount")
    .withColumnRenamed("u_name", "d_name")
    .withColumnRenamed("u_gender", "d_gender")
   .drop("a_uid", "a_count", "p_amount", "p_count", "u_name", "u_gender")
   .select("d_uid", "d_name", "d_gender", "d_acount", "d_pamount", "d_pcount")
)
display(dim5.orderBy(asc("d_uid")))

root
 |-- a_uid: long (nullable = true)
 |-- a_count: long (nullable = false)
 |-- p_amount: long (nullable = false)
 |-- p_count: long (nullable = false)
 |-- u_name: string (nullable = true)
 |-- u_gender: string (nullable = true)

+-----+----------+--------+--------+---------+--------+
|d_uid|    d_name|d_gender|d_acount|d_pamount|d_pcount|
+-----+----------+--------+--------+---------+--------+
|    1|    정휘센|      남|       1|  3800000|       2|
|    2|  김싸이언|      남|       2|  1400000|       1|
|    3|    박트롬|      여|       1|  1000000|       1|
|    4|    청소기|      남|       2|        0|       0|
|    5|유코드제로|      여|       1|  6000000|       2|
+-----+----------+--------+--------+---------+--------+

## 7-8. 최초 구매 유저 정보를 추가합니다

In [20]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
purchase.printSchema()
selectFirstPurchaseTime = "select p_uid, min(p_time) as p_time from purchase group by p_uid"

first_purchase = spark.sql(selectFirstPurchaseTime)
dim6 = dim5.withColumn("d_first_purchase", lit(None))
dim6.printSchema()

exprFirstPurchase = expr("case when d_first_purchase is null then p_time else d_first_purchase end")

dim7 = (
    dim6.join(first_purchase, dim5.d_uid == first_purchase.p_uid, "left_outer")
    .withColumn("first_purchase", exprFirstPurchase)
    .drop("d_first_purchase", "p_uid", "p_time")
    .withColumnRenamed("first_purchase", "d_first_purchase")
)
    
dimension = dim7.orderBy(asc("d_uid"))
dimension.printSchema()
display(dimension)

root
 |-- p_time: string (nullable = true)
 |-- p_uid: integer (nullable = true)
 |-- p_id: integer (nullable = true)
 |-- p_name: string (nullable = true)
 |-- p_amount: integer (nullable = true)

root
 |-- d_uid: long (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = false)
 |-- d_pamount: long (nullable = false)
 |-- d_pcount: long (nullable = false)
 |-- d_first_purchase: null (nullable = true)

root
 |-- d_uid: long (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = false)
 |-- d_pamount: long (nullable = false)
 |-- d_pcount: long (nullable = false)
 |-- d_first_purchase: string (nullable = true)

+-----+----------+--------+--------+---------+--------+-------------------+
|d_uid|    d_name|d_gender|d_acount|d_pamount|d_pcount|   d_first_purchase|
+-----+----------+--------+--------+---------+--------+-------------------+
|    1|    정휘센|      남|       1|  3800000|       2|2020-10-25 05:32:30|
|    2|  김싸이언|      남|       2|  1400000|       1|2020-10-25 11:38:20|
|    3|    박트롬|      여|       1|  1000000|       1|2020-10-25 05:42:35|
|    4|    청소기|      남|       2|        0|       0|               null|
|    5|유코드제로|      여|       1|  6000000|       2|2020-10-25 09:32:35|
+-----+----------+--------+--------+---------+--------+-------------------+

## 7-9. 생성된 디멘젼을 저장소에 저장합니다

In [21]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
dimension.printSchema()
target_dir="dim_users/dt=20201025"
dimension.write.mode("overwrite").parquet(target_dir)

root
 |-- d_uid: long (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = false)
 |-- d_pamount: long (nullable = false)
 |-- d_pcount: long (nullable = false)
 |-- d_first_purchase: string (nullable = true)

## 7-10. 생성된 디멘젼을 다시 읽어서 출력합니다

In [22]:
# 여기에 실습 코드를 작성하고 실행하세요 (Shift+Enter)
newDimension = spark.read.parquet(target_dir)
newDimension.printSchema()
display(newDimension)

root
 |-- d_uid: long (nullable = true)
 |-- d_name: string (nullable = true)
 |-- d_gender: string (nullable = true)
 |-- d_acount: long (nullable = true)
 |-- d_pamount: long (nullable = true)
 |-- d_pcount: long (nullable = true)
 |-- d_first_purchase: string (nullable = true)

+-----+----------+--------+--------+---------+--------+-------------------+
|d_uid|    d_name|d_gender|d_acount|d_pamount|d_pcount|   d_first_purchase|
+-----+----------+--------+--------+---------+--------+-------------------+
|    5|유코드제로|      여|       1|  6000000|       2|2020-10-25 09:32:35|
|    2|  김싸이언|      남|       2|  1400000|       1|2020-10-25 11:38:20|
|    1|    정휘센|      남|       1|  3800000|       2|2020-10-25 05:32:30|
|    3|    박트롬|      여|       1|  1000000|       1|2020-10-25 05:42:35|
|    4|    청소기|      남|       2|        0|       0|               null|
+-----+----------+--------+--------+---------+--------+-------------------+

In [23]:
# 최종 결과가 아래의 값과 일치하는지 확인합니다
# DAU:5, PU:4, DR: 12200000, ARPU: 2440000.0, ARPPU: 3050000.0
print("+------------------+")
print("|              DAU |")
print("+------------------+")
print("|                {} |".format(v_dau))
print("+------------------+")
print("+------------------+")
print("|               PU |")
print("+------------------+")
print("|                {} |".format(v_pu))
print("+------------------+")
print("+------------------+")
print("|               DR |")
print("+------------------+")
print("|         {} |".format(v_dr))
print("+------------------+")
print("+------------------+")
print("|             ARPU |")
print("+------------------+")
print("|        {} |".format(v_dr / v_dau))
print("+------------------+")
print("+------------------+")
print("|            ARPPU |")
print("+------------------+")
print("|        {} |".format(v_dr / v_pu))
print("+------------------+")

+------------------+
|              DAU |
+------------------+
|                5 |
+------------------+
+------------------+
|               PU |
+------------------+
|                4 |
+------------------+
+------------------+
|               DR |
+------------------+
|         12200000 |
+------------------+
+------------------+
|             ARPU |
+------------------+
|        2440000.0 |
+------------------+
+------------------+
|            ARPPU |
+------------------+
|        3050000.0 |
+------------------+